
@model IEnumerable<WAD.CW._00010959.Models.ListItemsViewModel>

<h1>See my shopping lists</h1>
<p>
    <a asp-action="Create">Create new shopping list</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Created Date</th>
            <th>Actions</th>
            <th>Items</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list in Model)
        {
            <tr>
                <td>@list.Title</td>
                <td>@list.Description</td>
                <td>@list.CreatedDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@list.ListId">&#x270E;</a> |
                    <a asp-action="Details" asp-route-id="@list.ListId">&#10067;</a> |
                    <a asp-action="Delete" asp-route-id="@list.ListId">&#x1F5D1;</a>
                </td>
                <td>
                    <button class="btn btn-secondary toggle-items-btn">Show Items</button>
                    <ul class="list-group items-list" style="display: none;">
                        @foreach (var item in list.Items)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>@item.Title</div>
                                <div>
                                    <a asp-action="Edit" asp-route-id="@item.Id">&#x270E;</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">&#10067;</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">&#x1F5D1;</a>
                                </div>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>


